.page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* width: 100%; */
   max-width: 1200px;
   margin: 50px auto 0 auto;
}

@media screen and (max-width: 480px) {
   .page {
      margin-top: 50px;
   }

}

@media screen and (max-width: 480px) {
   .form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
   }
}

main {
   display: flex;
   justify-content: center;
   width: 100%;
}

form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header {
   width: 100%;
   height: 380px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   position: relative;
   transition: all 500ms ease-in-out;
   box-shadow: 1px 10px 30px 15px black;
}
@media screen and (max-width: 480px){
   .header {
      height: 450px;
      
   }
   
}
.error {
   position: relative;
   bottom: 30px;
   left: -100px;
}
@media screen and (max-width: 480px){
   .error{
      bottom: 100px;
      left: 0px;
   }
}
.error::after {
   position: absolute;
   display: block;
   content: '';
   border-bottom: 20px solid lightcoral;
   border-right: 20px solid red;
   padding: 10px;
   rotate: 225deg;
   top: -12px;
   right: 50%;
   z-index: -2;
}
@media screen and (max-width: 480px){
   .error::after {
      position: absolute;
      top: -12px;
      right: 50%;
      z-index: 11;
   }
   
}

.heading {
   position: relative;
   transition: all 500ms ease-in-out;
   letter-spacing: 2.5px;
}
@media screen and (max-width: 480px){
   .heading{
      margin-top: 200px;
   }
}

.heading::after {
   position: absolute;
   display: block;
   content: '';
   background-image: url(../public/wizard.png);
   width: 95px;
   height: 95px;
   top: -25px;
   left: -110px;
   background-color: rgba(239, 229, 229, 0.1);
   border: 2px dotted brown;
   border-radius: 20%;
   box-shadow: .1px .1px 10px .1px white;
   transition: all 500ms ease-in-out;
}

@media screen and (max-width: 480px) {
   .heading::after {
      top: -100px;
      left: 85px
   }

}

.heading::before {
   display: block;
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: white;
   border-radius: 100%;
   box-shadow: 2px 1px 15px 5px white;
   top: 0;
   left: 10px;
   /* transition: all 500ms ease-in-out; */
   animation: mymove 1s infinite;
}

@keyframes mymove {

   50% {
      top: 5px;
   }
}

.isError:after {
   position: absolute;
   display: block;
   content: '';
   background-image: url(../public/wizard.png);
   width: 95px;
   height: 95px;
   top: -25px;
   left: -11px;
   background-color: rgba(208, 158, 158, 0.504);
   border: 2px dotted brown;
   border-radius: 20%;
   box-shadow: .1px .1px 20px 1px rgb(225, 81, 81);
   transition: all 500ms ease-in-out;
}

.noError:after {
   position: absolute;
   display: block;
   content: '';
   background-image: url(../public/wizard.png);
   width: 95px;
   height: 95px;
   top: -25px;
   left: -110px;
   background-color: rgba(160, 185, 135, 0.504);
   border: 2px dotted brown;
   border-radius: 20%;
   box-shadow: .1px .1px 20px 1px rgb(105, 225, 81);
   transition: all 500ms ease-in-out;
}

@media screen and (max-width: 480px) {

   .isError::after {
      top: -100px;
      left: 85px
   }

   .noError::after {
      top: -100px;
      left: 85px
   }
}

.movies {
   background-color: var(--background);
   border-radius: 10px;
   display: grid;
   grid-template-columns: repeat(5, minmax(200px, 1fr));
   column-gap: 25px;
   row-gap: 100px;
   max-width: 800px;
   margin: 0;
   padding: 15px;
   list-style: none;
   overflow-y: hidden;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
}

.movie {
   background-color: var(--background-body);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   text-align: center;
   box-shadow: 1px 1px 10px .1px rgb(82, 183, 150);
   scroll-snap-align: center;
}

.movie h3,
.movie p {
   margin: 0;
   padding: 0;
}

.movie h3 {
   margin-top: 20px;
}

.movie p {
   font-weight: 700;
   font-size: 20px;
}

.movie img {
   margin-top: 1 6px;
   border-radius: 8px;
}

.spinner {
   margin: 100px auto;
   width: 40px;
   height: 40px;
   position: relative;
   text-align: center;

   -webkit-animation: sk-rotate 2.0s infinite linear;
   animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
   width: 60%;
   height: 60%;
   display: inline-block;
   position: absolute;
   top: 0;
   background-color: rgb(105 225 81 /.5);
   border-radius: 100%;

   -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
   animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
   top: auto;
   bottom: 0;
   -webkit-animation-delay: -1.0s;
   animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
   100% {
      -webkit-transform: rotate(360deg)
   }
}

@keyframes sk-rotate {
   100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg)
   }
}

@-webkit-keyframes sk-bounce {

   0%,
   100% {
      -webkit-transform: scale(0.0)
   }

   50% {
      -webkit-transform: scale(1.0)
   }
}

@keyframes sk-bounce {

   0%,
   100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
   }

   50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
   }
}